{
   "@context":
   {
      "Person": "http://xmlns.com/foaf/0.1/Person",
      "xsd": "http://www.w3.org/2001/XMLSchema#",
      "name": "http://xmlns.com/foaf/0.1/name",
      "nickname": "http://xmlns.com/foaf/0.1/nick",
      "affiliation": "http://schema.org/affiliation",

	  #foreach( $oc in $contextBeans )
      "$oc.name": { "@id": "$oc.uri"}#if( $foreach.hasNext ),
      #end
      #end
	}
}

