{
    "@context": "$contextJSON",
     "referenceContext": {
          "@type": ["ContextCollection"] ,
          "hasContext":"$context",
          "http://purl.org/dc/terms/conformsTo" : "http://persistence.uni-leipzig.org/nlp2rdf/ontologies/org.unileipzig.persistence.nif-core/2.1"
    },
    "nif:annotationUnit" : [
	        #foreach( $bean in $beans){
    		"@id":  "$bean.context.NIF21id",
    		"@type": [ "String", "Word", "Phrase", "OffsetBasedString"],
            "taAnnotatorsRef" : "$bean.annotator",
            "taClassRef": ["$bean.types"],
            "taConfidence": ["$bean.score"],
            "taIdentRef": "$bean.taIdentRef",
            "beginIndex": "$bean.beginIndex",
            "endIndex": "$bean.endIndex"
    	    }#if( $foreach.hasNext ),
           #end
          #end

    ]
}
